.display {
  background-color: black;
  color: white;
  height: 120px;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.display > h1 {
  margin: 10px;
  font-size: 3.5em;
}
