:root {
  --bg-button-size: 50px;
}

.calculator {
  height: 320px;
  width: 235px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;


}

.buttons {
  margin: 10x;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 50px 50px 50px 50px 50px;
}
